{
	"tables" : [
		{
			"table": "OMDB_RD_LINK",
			"code": 2001,
			"name": "道路线"
		},
		{
			"table": "OMDB_RD_LINK_KIND",
			"code": 2008,
			"name": "道路种别"
		},
		{
			"table": "OMDB_RD_LINK_DIRECT",
			"code": 2010,
			"name": "道路方向"
		},
		{
            "table": "OMDB_SPEEDLIMIT",
            "code": 4002,
            "name": "常规点限速"
        },
		{
			"table": "OMDB_SPEEDLIMIT_COND",
			"code": 4003,
			"name": "条件点限速"
		},
		{
			"table": "OMDB_SPEEDLIMIT_VAR",
			"code": 4004,
			"name": "可变点限速"
		},
        {
            "table": "OMDB_LANE_LG_LINK",
            "code": 5001,
            "name": "车道中心线"
        },
        {
            "table": "OMDB_LANE_NUM",
            "code": 2041,
            "name": "车道数"
        }
	]
}