<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navinfo.collect.library">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="*/*"/>
        </intent>
    </queries>
    <!-- AK鉴权 -->
    <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="IxQi4mZGTlfv6Z9M2GRdqn4KKRbOATUU" />
    <!--<meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="IxQi4mZGTlfv6Z9M2GRdqn4KKRbOATUU" />--><!--BMnHEAZ8Ypq44GOBf4UqENgvCmncfFU6-->
    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config">
    </application>

</manifest>